#myAside a{
	margin-top:0;
	border-radius: 25%;
	background-color:white;
	padding:5px 8px 0 8px;
	font-size:3em;
	overflow:hidden;
}

.greenBar {
	display:block;
	background-color:#4aaaa5;
	margin:40% 0 3% 0;
}

#WD01 {
	background-image: url("../images/WebDesign01.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
}

#WD02 {
	background-image: url("../images/WebDesign02.png");
	background-repeat: no-repeat;	
	background-size: cover;
}

#WD03 {
	background-image: url("../images/WebDesign03.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
}

#WD04 {
	background-image: url("../images/WebDesign04.png");
	background-repeat: no-repeat;	
	background-size: cover;
}

#WD05 {
	background-image: url("../images/WebDesign05.png");
	background-repeat: no-repeat;	
	background-size: cover;
}

#myFam {
	float:left;
	filter:grayscale(0.5);
	margin-right:10px;
	border-radius: 2%;
}

.myBGColor {
	background-color:white;
}

#bodyContainer {
	width:100vw;
}

.mySection {
	padding:10px auto;
}

hr {
	margin: 5px auto;
}

#myAside a:link, #myAside a:visited {
	color:#ddd;
}

#myAside a:hover {
	background-color:white;
	color:#555;
	box-shadow: inset 0px 0px 0px 1px;
}

#footer {
	background-color:white;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	margin:10px 0 0 0;
	padding-left:0;
	padding-right:0;
	height:20px;
	border-top:5px solid #4aaaa5;
}

/* #myAside a:not(:last-child) {
	margin-right:-4px;
} */

@media screen and (min-width:992px) {
	.mySection {
		padding:5px;
		margin-top:10px;
		border:1px solid #eee;
	}
}

@media screen and (max-width:992px) and (min-width:768px){
	#myFam {
		display:block;
		float:none;
		width:100%;
	}
}

@media screen and (max-width:768px) {
	#myFixer {
		height:75px;
	}
	#bodyContainer {
		min-height:calc(100vh - 160px);
	}
}

@media screen and (max-width:1085px) {
	#myAside a {
		font-size: 2.5em;
	}
}